/* Reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  /* outline: none; */
  width: 300px;
  resize: vertical;
  border: none;
  background-color: transparent;
}

//Component class
.body {
  padding: 2em;
}

.app {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
}

.textNode {
  background-color: lightblue;
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-radius: 10px;
  padding: 1em 0;

  margin-bottom: 10px;
  position: relative;

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__search {
    width: 100%;

    background-color: rgb(230, 230, 230);
    font-family: "Roboto", sans-serif;

    border-radius: 20px;
    padding: 1em 0;
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__container {
      display: flex;
      align-items: center;
      padding: 0 2em;
      width: 100%;
    }
    &__input {
      background: none;
      border: none;
      width: 100%;
      line-height: 1.5em;
      &:focus {
        outline: none;
      }
    }
    &--img {
      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
    &__checkbox {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__delete {
    background: none;
    border: none;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 1em;
    color: white;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  &__add {
    @extend .textNode__search;
    background-color: white;
    border: 1px grey solid;

    &__container {
      display: flex;
      width: 100%;
      padding: 0 2em 0 4.2em;
    }

    &__input {
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
    &--btn {
      background: none;
      border: none;
      background-color: lightgreen;
      border-radius: 10px;
      padding: 1em 1.5em;
      color: white;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
    &__priority {
      &--container {
        display: flex;
        align-items: center;
      }
    }
  }
}
.textNode-list {
  margin-bottom: 100px;

  font-family: "Roboto", sans-serif;
  position: relative;
}
.textNodeText {
  font-family: "Roboto", sans-serif;
}
